@import './base.css';

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

#mainView {
  padding: 10px;
  width: 80%;
  height: 100%;
  background-color: #ffffff; /* 假设主视图有一个白色背景 */
}

#mainViewContent {
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 100%;
}

#searchFileList {
  height: 90%;
}

#operationBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

#rightSide {
  background-color: #ffffff;
  padding: 10px;
  width: 20%; /* 你可以根据需要调整这个百分比 */
  height: 100%;
}

#upperTagList {
  height: 100%; /* 上半部分占据右侧的一半高度 */
}

#upperTagListCard {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
}

#tagTree {
  height: 200px;
  width: 95%;
  overflow-x: auto;
}

#root:hover {
  background-color: #e6e4e4;
}
